$height:100vh;
.about{
    /*margin-top: 10vh; */
    display: flex;
    width: 100%;
    height: $height;
    min-height: 600px;
    color: #333;
    justify-content: center;
    #deck{
        display: flex;
        flex-direction: row;
        width: 90%;
        align-items: center;
        justify-content: space-evenly;
        .card{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: $height/2;
            min-height: 300px;
            border: none;
            .image{
                display: flex;
                height: 35vh;
                min-height: 230px;
                width: 100%;
                justify-content: center;
                z-index: 1;
                img{
                    width:65%;
                    min-width: 300px;
                }
            }
            .text{
                text-align: center;
                font-size: 20px;
                font-weight: 500;
            }
        }
    }
}

$heightM:50vh;
@media only screen and (min-width: 900px) and(min-height:1200px){
    .about{
        height: 50vh;
        min-height: 650px;
        #deck{
            .card{
                height: $heightM/2;
                .image{
                    margin-bottom: 4vh;
                }
                .text{
                    font-size: 25px;
                }
            }
        }
    }
}