$height:100vh;
.home{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  height: $height;
  color: white;
  min-height: 600px;
  background-image: url('../../assets/house4.jpg');
  background-position: right;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;

  margin: 0;
  padding: 0;
  .column{
    display: flex;
  }
  $widthColumn:50%;
  .column:first-child{
    justify-content: center;
    padding-left: 5vw;
    flex-direction: column;
    width: $widthColumn;
    &>div{
        display: flex;
    }
    #title{
        height: 30%;
        min-height: 260px;
        align-items: flex-end;
        span{
            font-size: 90px;
            font-weight: bolder;
        }
        img{
          margin-bottom: 30px;
        }
    }
    #intro{
        height: 16%;
        min-height: 104px;
        span{
          font-family:'Poppins', sans-serif;
            font-size: 25px;
            font-weight: normal;
            line-height: 30px;
            width:70%;
        }
    }
    #base{
      margin-top: 20px;
      height: 20%;
      min-height: 130px;
      align-items: flex-start;
      $base:5em;
      #button{
        outline: none;
        padding: 10px;
        width: 200px;
        background-color: #FF9A23;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius:  100px;
        font-weight: bold;
        cursor: pointer;
        -webkit-box-shadow: -1px 4px 42px -18px rgba(99,99,99,1);
        -moz-box-shadow: -1px 4px 42px -18px rgba(99,99,99,1);
        box-shadow: -1px 4px 42px -18px rgba(99,99,99,1);
        transition: .5s;
        &:hover{
          -webkit-box-shadow:none;
          -moz-box-shadow: none;
          box-shadow:none;

          background-color: rgb(218, 129, 29);
        }
        img{
          width: 40%;
        }
        i{
          margin: 5px;
        }
      }
    }

  }
  .column:last-child{
      width: $widthColumn;
      flex-direction: row;
      position: absolute;
      right: 0;
      z-index: 1;
      #circle{
        position: absolute;
        background-color: #FF9A23;
        width: 77vw;
        min-width: 750px;
        height: 154vh;
        min-height: 1000px;
        bottom: 0vh;
        top: -42vh;
        right: -25vw;
        border-radius: 100%;
        /* display: none;*/
      }
      #chef, #contra{
        width: 100%;
        z-index: 1;
        display: flex;
      }
      #chef{
          flex-direction: column;
          align-items: flex-end;
          img{
            width: 20vw;
            min-width: 250px;
            margin-top: 4vh;
            margin-right: 3vw;
          }
      }
      #contra{
          align-items: center;
          justify-content: flex-start;
          img{
            width: 26vw;
            margin-left: -6vw;
            min-width: 250px;
          }
      }
  }
  #video{
    display: flex;
    position: absolute;
    flex-direction: column;
    z-index: 2;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.285);
    padding: 0;
    justify-content: center;
    align-items: center;
    span{
      position: absolute;
      align-self: flex-end;
      top: 0;
      right: 1vw;
      color: white;
      font-size: 60px;
      cursor: pointer;
    }
  }

}

.header{
  display: flex;
  align-items: center;
  top: 0;
}
.banner{
  font-family:'Poppins', sans-serif;
  font-weight: bolder;
  font-size: 30px;
}